body {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 5px;
    border-color: black;
    border-style: solid;

    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-direction: column;
}

.row {
    display: flex;
    height: 50%;
}

.elem {
    width: 50%;
    /* border-color: black;
    border-style: solid;
    border-width: 1px; */
    background-color: white;
}

.hov {
    background-color: chartreuse;
}

button {
    margin: 16px;
}

.size {
    display: flex;
    gap: 5px;
}

.size label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}