body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 5px;
    border-color: black;
    border-style: solid;

    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-direction: column;
}

.row {
    display: flex;
    height: 50%;
}

.elem {
    width: 50%;
    /* border-color: black;
    border-style: solid;
    border-width: 1px; */
    background-color: white;
}

.hov {
    background-color:chartreuse;
}

button {
    margin: 16px;
}